body{
background:linear-gradient(135deg,#ff758c,#ff7eb3);
font-family:Arial;
text-align:center;
color:white;
margin:0;

}

h1{
font-family:'Dancing Script';
font-size:50px;
margin-top:100px;

}

button{
background:white;
color:#ff4d6d;
border:none;
padding:15px 30px;
font-size:18px;
border-radius:30px;
cursor:pointer;

}

#conteudo{
display:none;
padding:40px;

}

.texto{
max-width:700px;
margin:auto;
font-size:20px;
line-height:1.6;

}

.galeria{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:20px;

}

.galeria img{
width:250px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,0.3);
transition:0.3s;

}

.galeria img:hover{
transform:scale(1.1);

}